.intro__list {
  padding: 0;
  width: 100%;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  list-style: none;
}