.cover__container {
  width: 100%;
  min-height: 740px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .cover__container {
    min-height: 200px;
  }
}